<%- include('../partials/header.ejs') %>
    <main class="container py-5 text-center">

        <p class="text-danger">Welcome to my Articles Page...</p>
        <ul>
            <% articles.forEach((e)=>{%>
                <li>
                    <h2>
                        <%=e.title %>
                    </h2>
                    <p>
                        <%=e.description %>
                    </p>
                </li>
                <% })%>
        </ul>
    </main>
    <div class="container mt-3">
        <form class="form-inline justify-content-center">
            <input class="form-control mr-sm-2 w-50" type="search" placeholder="Search articles..." aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>