<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/form" method="post">
        Enter Number 1 : -<input type="text" name="fno"><br>
        Enter Number 2 : -<input type="text" name="sno"><br>
        <input type="submit" value="Addition">
    </form>

    <h3>Addition :- <%=c %></h3>
</body>
</html>